<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
{#    {% include 'navbar.html' %}#}
    <header class="page-header">
        <nav class="page-header__wrapper container">
            <ul class="wrapper__nav-list">
                {% for i in menus %}
                    <li><a href="{{ i.url }}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>

{% block content %}
{% endblock %}
</body>
</html>