{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/update_client.css')}}">
{% endblock %}

<title>{{ title }}</title>

{% block content %}
    <section>
        <h2 class="update-client__header container">Редактирование клиента</h2>

        <div class="update-client container">
            <form method="post">
                {{ form.hidden_tag() }}

{#                {{ form.fullname.label }}#}
                {{ form.fullname(size=50, placeholder="Введите ФИО", class="form-fullname") }}

{#                {{ form.birthday.label }}#}
                {{ form.birthday(class="form-birthday") }}

                {{ form.gender(class="form-gender", placeholder="Выберите пол") }}
{#                {{ form.gender.label }}#}


{#                {{ form.place_residence.label }}#}
                {{ form.place_residence(class="form-place_res", placeholder="Место прописки") }}

{#                {{ form.phone.label }}#}
                {{ form.phone(type="number", class="form-phone", id="phone", placeholder="+7 (999) 999-99-99", maxlength="11") }}

                {{ form.update(class="form-update") }}
            </form>
        </div>

{#        {% for message in get_flashed_messages() %}#}
{#            <div class="alert alert-warning alert-dismissible show" role="alert">#}
{#            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#            </div>#}
{#                {{ message }}#}
{#        {% endfor %}#}
        {% if form.errors %}
            <ul class="errors">
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ form[field].label.text }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}