.adding_client__header {
    text-align: center;
    padding: 30px 0 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
}

form input {
    height: 30px;
}







